body {
    font-family: 'Didact Gothic', sans-serif;
    height: 83.8vh;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
}
#div-alerta{
    width: 60%;
    max-width: 500px;
}

#div-alerta span{
    text-align: center;
    background-color: rgb(252, 61, 61);
    border: 1px solid rgb(230, 28, 28);
    border-radius: 18px;
    padding: 20px 0;
    color: rgb(255, 159, 159);
}

.info-contenido{
    margin: 100px auto;
    width: 400px;
    height: 470px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:white;
    border-radius: 20px;
}
.texto-login {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration:underline solid rgb(216, 198, 228);
    text-underline-offset:8px;

}

.input, .benvio {
    width: 90%;
    height: 50px;
    font-size: 15px;
}

.input {
    padding-left: 18px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    width: 330px;
}

.input:hover {
    border-radius: 5px;
    border: 1px solid gainsboro;
    color: rgba(143, 139, 139, 0.815);
}
p, a, .checkbox{
    font-family:'Didact Gothic', sans-serif ;
    font-size: 15px;
    text-decoration:underline solid rgb(216, 198, 228);
    text-underline-offset:8px;
}
.benvio {
    width: 220px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(156, 156, 156);
    cursor: pointer;
}
.benvio:hover{
    background: rgb(20, 20, 20);
}
a{
    color: black;
}
@media (max-width:450px){
    .info-contenido{
       width: 330px;
       height: 480px;
       margin: 100px auto;
    }
    .input {
        padding-left: 10px;
        border: none;
        border-radius: 5px;
        font-weight: 300;
        letter-spacing: 0.5px;
        box-sizing: border-box;
        width: 250px;
    }
    a, .checkbox{
        font-family:'Didact Gothic', sans-serif ;
        font-size: 13px;
    }
    .benvio {
        width: 170px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: rgb(156, 156, 156);
        cursor: pointer;
    }
   
}
