@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700;800&family=Raleway:wght@200;400&family=Sora:wght@800&family=Vollkorn:ital@0;1&family=Work+Sans:wght@100&display=swap');
body {
    font-family: 'Manrope', sans-serif;
    height: 83.8vh;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
}
.contenido{
    max-width: 600px;
    width: 80%;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}
.info-contenido{
    margin: 100px auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
#div-alerta{
    max-width: 600px;
}

#div-alerta span{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 187, 198);
    border-radius: 18px;
    padding: 15px;
    color: rgb(121, 40, 57);
    font-weight: bold;
}
#div-saludo{
    max-width: 600px;
    width: 100%;
}

#div-saludo span{
    text-align: center;
    background-color: rgb(164, 186, 226);
    border-radius: 18px;
    padding: 15px;
    color: rgb(52, 62, 109);
    font-weight: bold;
}
.texto-login {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration:underline solid rgb(216, 198, 228);
    text-underline-offset:8px;

}

.input, .benvio {
    width: 90%;
    height: 50px;
    font-size: 15px;
}

.input {
    padding-left: 18px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    width: 330px;
}

.input:hover {
    border-radius: 5px;
    border: 1px solid gainsboro;
    color: rgba(143, 139, 139, 0.815);
}
p, a, .checkbox{
    font-size: 15px;
    text-decoration:underline solid rgb(216, 198, 228);
    text-underline-offset:8px;
}
.benvio {
    width: 220px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(156, 156, 156);
    cursor: pointer;
}
.benvio:hover{
    background: rgb(20, 20, 20);
}
a{
    color: black;
}
@media (max-width:450px){
    .info-contenido{
       width: 330px;
       height: 480px;
       margin: 100px auto;
    }
    .input {
        padding-left: 10px;
        border: none;
        border-radius: 5px;
        font-weight: 300;
        letter-spacing: 0.5px;
        box-sizing: border-box;
        width: 250px;
    }
    a, .checkbox{
        font-size: 13px;
    }
    .benvio {
        width: 170px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: rgb(156, 156, 156);
        cursor: pointer;
    }
   
}
